{{ 'custom-timeline.css' | asset_url | stylesheet_tag }}

<div class="page-width sample">
    <div class="timeline-container">
          <div class ="top items-container">
            {%- for block in section.blocks -%}
              {% case block.type %}
                {%- when 'time-line-item' -%}
                  <div class="timeline-item">
                      <div class="image-wrap">
                        <a href="https://online.flippingbook.com/view/{{ block.settings.timeline_id }}" target="_blank">
                                 <img src="{{block.settings.image_thumbnail | img_url: 'master' }}" alt="">
                          </a>
                      </div>
                      <div class="content-wrap">
                        <h2 class="timeline-date">{{ block.settings.date }}</h2>
                        <p class="time-line-desc">
                          {{ block.settings.timeline_description }}              
                        </p>                       
                      </div>  
                  </div> 
              {%- endcase -%}
            {%- endfor -%}  
          </div>
          <div class="center-line"></div>
          <div class ="bottom items-container">
           {%- for block in section.blocks -%}
            {% case block.type %}
              {%- when 'time-line-item' -%}
                <div class="timeline-item">
                  <div class="image-wrap">
                    <a href="https://online.flippingbook.com/view/{{ block.settings.timeline_id }}" target="_blank">
                             <img src="{{block.settings.image_thumbnail | img_url: 'master' }}" alt="">
                      </a>
                  </div>
                  <div class="content-wrap">
                    <h2 class="timeline-date">{{ block.settings.date }}</h2>
                    <p class="time-line-desc">
                      {{ block.settings.timeline_description }}              
                    </p>                       
                  </div>  
              </div> 
            {%- endcase -%}
          {%- endfor -%}  

          </div>
    </div>        
</div>


<script src="{{ 'custom-timeline-section.js' | asset_url }}" defer="defer"></script>

{% schema %}
    {
    "name": "Custom Timeline",
    "settings": [
      {
        "type": "text",
        "id": "class_name",
        "label": "Class Name"
      }
    ],
    "blocks": [

       {
        "name": "Timeline Item",
        "type": "time-line-item",
        "limit": 8,
        "settings": [
          {
            "type": "text",
            "id": "timeline_id",
            "label": "Timeline ID"
          },
          {
            "type": "text",
            "id": "date",
            "label": "Date"
          },
          {
            "type": "image_picker",
            "id": "image_thumbnail",
            "label": "Image Thumbnail"
          },
          {
            "type": "textarea",
            "id": "timeline_description",
            "label": "Timeline Description"
          } 
        ] 
      }
    ],
    "presets": [
      {
        "name": "Custom Timeline"
      }
    ]
  }  
  {% endschema %}